@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Utillities */

:root {
    --primary-color: #84ceeb;
    --secondary-color: #5cdb95;
    --tertrity-color: #ffe400;
    --light-grey: rgb(243, 243, 243);
    --dark-grey: #333;
}

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 50px 0 0 0;
    font-family: "Poppins", sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--dark-grey);
}

a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0px 0px;
}

p {
    margin: 10px 0px;
}

.container {
    max-width: 1920px;
    margin: auto;
}

.section_container {
    z-index: 1;
    text-align: center;
    position: relative;
    row-gap: 5rem;
    padding: 3rem 5rem;
}

.grid {
    max-width: 1224px;
    display: grid;
    margin-left: 1rem;
    margin-right: 1rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}

.head {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--light-grey);
    z-index: 1;
}

.buttonLight {
    background-color: #fad672;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #fad672;
    transition: 0.3s;
}

.buttonLight:hover {
    color: #fad672;
    background-color: transparent;
    border: 2px solid #fad672;
    transition: 0.4s;
}

.sectionTab {
    text-align: center;
    margin: 10rem 5rem;
    height: auto;
}

img {
    border-radius: 5px;
}


/* Nav Section*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
}

.nav {
    padding-top: 10px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-weight: var(--font-semi);
}

.navlogo {
    color: #ff3c7d;
    margin-top: 5px;
    margin-left: 4rem;
    font-size: 26px;
}

.navToggle {
    display: none;
}

.shopBag {
    position: relative;
    top: 6px;
    margin: 0 auto;
}

.shopBag img {
    width: 30px;
}

.navMenu {
    width: 80%;
    text-align: right;
    padding-top: 10px;
}

.navMenu li {
    justify-content: space-between;
    margin-right: 100px;
    display: inline;
}

.navLink {
    margin-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    color: var(--t-color);
    text-decoration: none;
}

.navLink a {
    transition: 0.6s ease;
}

.navLink a:hover {
    transition: 0.2s ease;
    color: #ff3c7d;
}

.nav li a {
    text-decoration: none;
}

.sale a {
    color: red;
    font-weight: bold;
    font-size: 32px;
}


/* Home Section*/

.home {
    height: 100%;
    background: url("./people/Venti_Background.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.home_text h1 {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 14rem;
    color: white;
    line-height: 100%;
}

.homeContainer {
    margin: 20px auto;
}

.homeContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homeStandText {
    color: #e03f5a;
    font-weight: bold;
}

.homeImg {
    margin: 20px;
}

.homeImg img {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.homeData {
    margin-top: 4rem;
    text-align: center;
}

.homeData a {
    text-decoration: none;
}

.ellipse {
    position: relative;
    left: 340px;
    bottom: 80px;
    z-index: -1;
}

.social_buttons {
    position: relative;
    top: 4rem;
    display: flex;
    justify-content: center;
}

.social_button {
    transition: 0.2s ease;
}

.social_button:hover {
    transition: 0.2s ease;
    transform: translate(0, -0.6rem);
}

.main_button {
    position: relative;
    padding: 2.4rem 1rem 1.9rem 1rem;
    border: 4px solid white;
    border-radius: 200px 0 200px 0;
    background-color: transparent;
}

.homeData .buttonDark {
    background-color: white;
    color: #202020;
    border-radius: 100px 0 100px 0;
    padding: 1.2rem 6rem;
    font-size: 22px;
    font-weight: 600;
    transition: 0.8s;
}

.homeData .buttonDark:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border: none;
    border-radius: 100px 0 100px 0;
    transition: 0.2s;
}


/* Featured Section */

.Featured {
    text-align: center;
    margin: 10rem 0 10rem 0;
    z-index: 1;
}

.sectionTitle {
    font-family: 'Bebas Neue', cursive;
    line-height: 95%;
    font-size: 86px;
}

.sectionText {
    position: relative;
    bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 24px;
    opacity: 0.8;
}

.featuredContainer {
    display: flex;
    justify-content: center;
}

.item {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    transition: 0.4s;
}

.item:hover {
    transform: scale(1.05);
}

.itemSale {
    position: absolute;
    left: 8px;
    background-color: rgb(236, 74, 123);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    transform: rotate(-45deg);
}

.fashionName {
    font-weight: bold;
}

.fashionPrice {
    color: rgb(236, 74, 123);
}

.fashionFormerPrice {
    text-decoration: line-through;
}

.featureText {
    font-family: 'Bebas Neue', cursive;
    font-size: 34px;
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.featureText a {
    text-decoration: none;
}


/* Collection Section*/

.Collection {
    margin: 0 1rem;
}

#collection {
    position: relative;
    bottom: 100px;
}

.container {
    width: 100%;
}

.test_box .inner {
    background: #333;
    display: block;
    height: auto;
    margin: 1.4rem 0;
    overflow: hidden;
}

.test_box .inner .test_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgba(55, 55, 55, 0.5);
    mix-blend-mode: hargba(12, 46, 97, 0.5)
}

.flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
}

.test_box .inner .test_click:hover .flex_this {
    margin-top: -5px;
}

.test_title {
    display: block;
    font-size: 3.5rem;
    font-family: 'Bebas Neue', cursive;
    width: 100%;
}

.test_link {
    cursor: pointer;
    border: 2px solid #fff;
    display: inline-block;
    font-size: 1em;
    letter-spacing: .1em;
    margin: 0 auto;
    border-radius: 200px 0 200px 0;
    padding: 0.6rem 5rem;
    text-transform: uppercase;
}

.box-01 .inner {
    background-image: url('./people/linen.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-02 .inner {
    background-image: url('./people/jackets.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-03 .inner {
    background-image: url('./people/shirts.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-04 .inner {
    background-image: url('./people/coats.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-05 .inner {
    background-image: url('./people/jeans.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.box-06 .inner {
    background-image: url('./people/accessories.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}


/* Discount Section*/

.discount {
    margin: 10rem auto;
}

.discountContainer {
    margin: 0 auto;
    text-align: center;
    background-image: url('./people/promo.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    max-width: 1920px;
}

.discountText {
    text-align: left;
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    color: white;
    margin: 0 auto;
}

.discountGroup {
    margin: auto 0;
}

.discountGroup .test_link {
    border: 4px solid white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.8s ease;
}

.discountGroup .test_link:hover {
    background-color: white;
    color: #202020;
    transition: 0.2s ease;
}

.discountGroup .test_link .discountGroup h2 {
    line-height: 100%;
}

.discountGroup .test_link {
    margin: 1rem 0;
}

.disclaimer {
    color: rgb(153, 152, 152);
}


/*Shop Section*/

.Shop {
    margin: 10rem auto;
    height: 700px;
    text-align: center;
    max-width: 1920px;
}

.shopText {
    text-align: left;
    display: grid;
    grid-template-columns: 60% 40%;
    height: auto;
    color: #202020;
    margin: 0 2.5rem;
}

.shopText img {
    margin: 0 auto;
    height: 100%;
}

.shopText .discountGroup .test_link {
    background-color: #202020;
    border: 4px solid #202020;
    padding: 0.8rem 13rem;
    color: white;
}

.shopText .discountGroup {}

.email_input {
    text-align: center;
    border: none;
    background-color: #20202021;
    margin: 2rem 0 1rem 0;
    border-radius: 100px;
    padding: 1rem 12rem;
}

.social {}


/*Responsive Design For Smaller Device Screens*/

@media screen and (max-width: 1850px) {
    .homeContent {
        width: 100%;
    }
}

@media screen and (max-width: 1570px) {
    .item {
        width: 100%;
        margin: 0 10px;
    }
    .itemImage {
        width: 100%;
    }
    .shopContainer {
        display: block;
    }
    .newItem {
        gap: 20px;
        justify-content: center;
    }
    .shopImgItem {
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .home_text h1 {
        font-size: 10rem;
    }
    .nav {
        width: 100%;
        margin: 0;
        padding: 10px;
    }
    .navlogo {
        text-align: center;
        width: 60%;
    }
    .navToggle {
        padding: 2px;
        display: flex;
        margin-left: 20px;
    }
    .navMenu {
        box-shadow: 0 50px 80px 0 rgba(0, 0, 0, 0.15);
        text-align: left;
        position: fixed;
        top: 62px;
        left: -100%;
        width: 50%;
        height: 30vh;
        padding: 30px;
        background-color: white;
        transition: 0.4s;
        border-radius: 0 0 100px 0;
    }
    .navMenu li {
        position: relative;
        justify-content: center;
        display: block;
    }
    .showMenu {
        left: 0;
    }
    .selected a {
        color: #ff3c7d;
    }
    .fashionName {
        font-size: 2rem;
    }
}


/*Responsive Design For Mobile And Tablet Device Screens*/

@media screen and (max-width: 768px) {
    .home_text h1 {
        font-size: 6rem;
    }
    .homeContainer {
        margin-bottom: 40px;
    }
    .homeHolder {
        text-align: center;
        display: inline-block;
    }
    .Featured {
        height: auto;
    }
    .item {
        margin: 20px auto;
    }
    .featuredContainer {
        flex-direction: column;
    }
    .collectionContainer {
        flex-direction: column;
    }
    .collectionCard {
        margin: 10px auto;
    }
    .collectionCard img {
        width: 100%;
        height: 500px;
    }
    .discountContainer {
        display: block;
        width: 100%;
    }
    .discountImg {
        margin-top: 30px;
    }
    .shopContent {
        width: 90%;
    }
    .shopImg {
        width: 100%;
    }
    .newItem {
        margin: 40px 20px;
    }
    .newItemCard {
        margin: 0px;
        padding: 0px;
    }
    .newItemOverlay .buttonDark {
        font-size: 10px;
        opacity: 0.6;
        padding: 0px;
    }
    .main_button {
        padding: 2.2rem 1rem 1.8rem 1rem;
    }
    .homeData .buttonDark {
        padding: 1rem 5rem;
    }
    .social_button img {
        width: 80px;
    }
    .fashionName {
        font-size: 4rem;
    }
    .col-xs-6 {
        width: auto;
    }
    .test_box {
        width: 100%;
    }
    .inner {
        width: 100%;
    }
    .container {
        width: 100%;
    }
    .discountGroup .sectionTitle {
        font-size: 5rem;
    }
    .Shop {
        margin: 0 auto;
    }
    .shopText {
        display: inline-block;
    }
}