@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root {
    --primary-color:#84CEEB;
    --secondary-color: #5CDB95;
    --tertrity-color: #FFE400;

    --light-grey: rgb(243, 243, 243);
    --dark-grey: #333;
}

* {
    box-sizing: border-box;

  
}


html {
    scroll-behavior: smooth;
    
}


body {
    margin: 50px 0 0 0; 
    font-family: 'Poppins', sans-serif;
    color: #333;
}
ul {
    list-style-type: none;
}


a {
    text-decoration: none;
    color: var(--dark-grey);
}
 h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 0px 0px;
}

p {
    margin: 10px 0px;

}

/* Utils */
.grid {
    max-width: 1100px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 20px;
    width: 100%;
    margin: 0px 20px 0px 20px;

}


.head {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: var(--light-grey); 
    z-index: 1; 

}






/* Nav */

.nav  {

    height: var(--top-height);
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-weight: var(--font-semi);
    


}

.navlogo {
    margin: auto;
}

.navToggle {
    margin: auto;
}


.shopBag {
    margin: auto;
    margin-right: 20px;

}

.shopBag img {
    width: 30px;
}
.navMenu {

    width: 80%;
    text-align: right;
    padding-top: 10px;
}
.navMenu li {
   
    justify-content: space-between;
    margin-right: 30px;
    display: inline;
}
.navLink{
    
    color:var(--t-color);
    text-decoration: none;
}


.navLink:hover {
    color: var(--primary-color);
}

.nav li a {
    text-decoration: none;
}

.sale a{
    color: red;
    font-size: 20px;
}





/* Home */

.home {
    padding-top: 30px;
    background-color: var(--light-grey);
    overflow: hidden;

}
.homeContainer {
    margin: 20px auto;
}
.homeHolder {
    display: flex;
    justify-content: center;
    align-self: center;
}

.homeStandText {
    color: #e03f5a;
    font-weight: bold;
}

.homeImg {
   
   margin: 30px;
}

.homeImg img {
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 300px;
}

.homeData {
    margin: auto 20px;
}

.homeData a {
    
    text-decoration: none;
}

.buttonMain {
    background-color: #fa768c;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: 2px solid #fa768c;
    transition: 0.3s;
    
}

.buttonMain:hover {
    color: #fa768c;
    background-color: transparent;
    border: 2px solid #fa768c;
    transition: 0.4s;
}




























.footer {
    display: inline-block;
    padding: 30px;
    color: white;
    width: 100%;
    background-color: #1d284e;
}


.links {
    float: right;
}
.links img {
    padding: 0px 5px;
}


/*Responsive Design For Device Screens*/


@media screen and (max-width: 768px) {
    .nav {
        text-align: left;
        width: 100%;
        margin: 0;
        padding-top: 10px;
    }
    .navlogo {
      margin: 0 auto;
    }

    .navToggle {
        margin-left: 20px;
    }
    .navMenu  {
        text-align: left;
        position: fixed; 
        top: 50px; 
        left: -100%; 
        width: 50%;
        height: 100vh;
        padding: 30px; 
        background-color: white;
        transition: 0.4s;
        box-shadow: 0 2px 10px rgba(0,0,0,0.1);
        border-radius: 4px;

    }

    .navMenu li {
        
        justify-content: center;
        margin: 0px 0px 10px 0px;
        display: block;
    }




    .showMenu {
        left: 0;
    }
    


    .selected a {
        color: var(--secondary-color);
      
     }



     .homeHolder {
         display: block;
     }
    
}



    .navLink {
        margin-bottom: 15px;
    }

    .navToggle  .shopBag {
        font-size: 14px;
        cursor: pointer;
    }
    


